project_01/assets/media/.DS_Store
project_01/.DS_Store
django/0220/mysite/tutorialdjango/main/__pycache__/__init__.cpython-311.pyc
*.pyc
django/0220/mysite/venv
django/0220/mysite2/nenv2
django/.DS_Store
.DS_Store
django/0221/mysite/venv/
django/0221/mysite2/venv
django/0221/shop/venv/
django/0222/myshop/venv/
django/0223/db_search/venv/
django/0226/auth/venv/
