.chatroom header{
    height: 6.8rem;
    line-height: 6.8rem;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0, 0.2);
    font-size: var(--font-size-bigger);
    font-weight: 800;
    position: relative;
}

.chatroom header h1::before,
.chatroom header h1::after{
    content:"🐾";
    padding:0 .5rem;
}

.chatroom header a{
    position: absolute;
    display: flex;
    left:5%;
    top:50%;
    transform: translateY(-50%);
}

.chatroom section{
    height: calc(100% - 6.8rem);
}

.chat-container{
    height: calc(100% - 8.3rem);
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
}

.chat-bubble{
    width: 90%;
    display: flex;
    gap:1rem;
    padding-bottom: 2rem;
}

.chat-bubble .profile-area{
    width: 6rem;
    height: 6rem;
    border-radius: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
}

.chat-bubble .profile-area img{
    width: 95%;
}

.chat-bubble .message-area{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1rem;
}

.chat-bubble .message-area .profile-txt{
    padding-top: .5rem;
    font-size: var(--font-size-small);
}

.chat-bubble .message-area img:not(.load-success){
    width: 1px;
    height: 1px;
    position: absolute;
    left:0;
    bottom:0;
    padding:0;
}

.chat-bubble .message-area img.load-success{
    width: 20rem;
    padding:1rem;
    object-fit: contain;
    border-radius: 1rem;
    background-color: var(--color-white);
}

.chat-bubble .message-area .message-txt{
    background-color: var(--color-white);
    padding:1.5rem;
    border-radius: 0rem 1rem 1rem 1rem;
}

.chat-bubble.user{
    align-self: flex-end;
    justify-content: flex-end;
}

.chat-bubble.user .message-txt{
    border-radius: 1rem 1rem 0rem 1rem;
    background-color: var(--color-point-yellow);
}

.chat-bubble.loader {
    animation: fadeInUp .5s ease-in-out;
}

.chat-bubble.loader .message-txt {
    display: flex;
    gap:.5rem;
}

.chat-bubble.loader .message-txt span{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: var(--color-grey);
    border-radius: 50%;
    animation: fadeIn .8s ease-in-out alternate infinite;
}

.chat-bubble.loader .message-txt span:nth-child(2){
    animation-delay: .2s;
}

.chat-bubble.loader .message-txt span:nth-child(3){
    animation-delay: .4s;
}

.input-area{
    height: 8.3rem;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    gap:1rem;
}

.input-area fieldset{
    flex-grow: 1;
    display: flex;
    height: 5.3rem;
    padding:1.3rem;
    border-radius: 4rem;
    border: .2rem solid var(--color-point-dark);
    overflow: hidden;
}

.input-area input{
    font-size: var(--font-size-default);
    flex-grow: 1;
    border: none;
}

.input-area input:focus{
    outline: none;
}

.input-area button img{
    height: 100%;
    object-fit: contain;
}

.input-area.disabled{
    pointer-events: none;
}

.input-area.disabled fieldset{
    opacity: 0.5;
}