<header>
    <h1>
        <a href="/">Home</a>
    </h1>
    <ul>
        <li>
            <a href="{% url "blog_list" %}">
                blog
            </a>
        </li>
        <li>
            <a href="{% url "signup" %}">
                signup
            </a>
        </li>
        <li>
            <a href="{% url "login" %}">
                login
            </a>
        </li>
        <li>
            <a href="{% url "profile" %}">
                profile
            </a>
        </li>
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>            
        </li>
    </ul>
</header>