*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    color: initial;
}

ul{
    list-style:none;
}

html, body{
    height:100%;
}

body{
    display:flex;
    flex-direction:column;
}

header{
    padding:10px 5%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#ccc;
    position: fixed;
    width: 100%;
}

header ul{
    display:flex;
    justify-content:space-between;
    gap:2rem;
}

main{
    padding:150px 5% 100px;
    flex-grow:1;
}

h2{
    padding-bottom:30px;
}

.video-list{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.search-form{
    width: 50%;
    padding-bottom: 30px;
    display: flex;
}

.search-form input,
.search-form button{
    padding:5px;
    font-size: 18px;
}

.search-form input{
    flex-grow: 1;
}

.tag-area{
    padding-bottom: 30px;
}

.tag-area ul{
    padding-top: 10px;
    display: flex;
    gap:10px;
}

.tag-area li a{
    padding:5px;
    background: #ccc;
    border-radius: 2px;
}

.video-list li{
    width:calc((100% - 20px) / 3);
    padding-bottom: 20px;
}

.video-list li img{
    width:100%;
    aspect-ratio:16/9;
    object-fit:cover;
}

.video-list li .title{
    font-size: 24px;
    font-weight: 600;
}

.video-detail{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.video-detail video{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    background-color: #111;
}

.video-detail .info-top,
.video-detail .info-top>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.video-detail .title{
    font-size: 30px;
    font-weight: 600;
}

footer{
    padding:50px 5%;
    color:#fff;
    background-color:#555;
}